
body{
    display:flex;
    align-items: center;
    justify-content: center;
        
}#container{
    height: 400px;
    width: 400px;
    background-color:rgb(10, 0, 0);
    box-shadow: 30px 30px 30px rgb(69, 64, 64);
    display:flex;
    justify-content: center;
    perspective: 50px;
    perspective-origin: top;
}
#part1{
    height: 400px;
    width: 400px;
    background-color:rgb(255, 14, 14);
    transform-style: preserve-3d;
    transform: rotateX(45deg);
    font-size:20px;
}